
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

nav a:hover {
  background-color: #9bc27c
}
nav-link.active{
  background-color: #9bc27c

}
.navbar-dark .navbar-nav .nav-link.active {
  background-color: #9bc27c

}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
// Your variable overrides

$theme-colors: (
  "primary": #85aea3,
);
@import '~bootstrap/scss/bootstrap';
